
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li class="nav-item">
        @Html.ActionLink("Türkçe", "DilDegistir", "Language", new { LanguageAbbrevation = "tr" }, new { @Class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("English", "DilDegistir", "Language", new { LanguageAbbrevation = "en" }, new { @Class = "nav-link" })
    </li>
</ul>