@model WebProje.Models.Haber
@{
    ViewBag.Title = @Model.Baslik;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="haberFoto">
    <img src="@Model.Foto" width="400" height="300"/>
</div>
<div><h2>@Model.Baslik</h2></div>
<div>
    <p>@Model.Icerik</p>
</div>
<br />
