
@{
    ViewBag.Title = "KayitOl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<div class="alert alert-danger">
    <strong>HATA!</strong> Girdiğiniz E- Posta veya Kullanıcı Adı Sistemde Kayıtlı.
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

